body  {
    background-color: #383D58;
    color: white;
    }
    .cabecalho {
        background-color: #383D58;
        color: white;
        display: flex;
        }
    .cabecalho-imagem{

height: 200px;
width:300px;




    }